/* line 1, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_projects.scss */
.projects-xs {
  display: flex;
  flex-direction: column;
}

/* line 4, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_projects.scss */
.projects-xs .project-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

/* line 8, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_projects.scss */
.projects-xs .project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* line 2, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_base.scss */
body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 13, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_base.scss */
a {
  text-decoration: none;
}

/* line 16, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_base.scss */
li {
  list-style-type: none;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_nav.scss */
.nav-xs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

/* line 10, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_nav.scss */
.logo {
  background-color: black;
  border-radius: 50%;
  color: white;
  width: auto;
  font-size: 2rem;
  margin: 10px;
}

/* line 21, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_nav.scss */
.menu-xs {
  display: inline-block;
  background-color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 30, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_nav.scss */
.ham1, .ham2, .ham3 {
  background-color: white;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 38, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_nav.scss */
.change .ham1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* line 42, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_nav.scss */
.change .ham2 {
  opacity: 0;
}

/* line 44, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_nav.scss */
.change .ham3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_banner.scss */
.banner-xs {
  display: flex;
  flex-direction: column;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  overflow: hidden;
  padding: 0 10px;
}

/* line 11, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_banner.scss */
.banner-xs .card {
  background-color: red;
  text-align: center;
  margin: auto;
}

/* line 18, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_banner.scss */
.scroll-down {
  background-color: green;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto;
}

/* line 24, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_banner.scss */
.scroll-down p {
  color: white;
  margin: 0;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_contact.scss */
.contact-xs {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

/* line 5, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_contact.scss */
.contact-xs form > input, .contact-xs textarea {
  width: 100%;
  margin: 5px 0;
  font-size: 30px;
}

/* line 11, ../../../Users/ekonc/Documents/GitHub/portfolioV2/scss/_contact.scss */
.contact-xs textarea {
  resize: vertical;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */