@media (min-width: 768px) {

  .wrapper{
    display: flex;

      .nav-xs{
        display: flex;
        justify-content: center;
        background-color: black;
        border-radius: 0 0 50% 0;
        position: sticky;
        top: 0;
        .logo{
          margin: 50px;
        }
        .menu-xs{
          display: none;
        }
        .navigation{

          display: block;
          width: 300px;
          max-width: 300px;
          font-size: 2rem;
        }

      }
      .container{
        .banner-xs{
          height: 100vh;
        }
        .contact-xs{
          margin: 15px;
        }
      }

  }


}
