.banner-xs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  width: 100vw;
  overflow: hidden;
  padding: 0 10px;

  .card{
    background-color: red;
    text-align: center;
    margin: auto;
  }

}
.scroll-down{
  background-color: green;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  p{
    color: white;
    margin: 0;
  }


}
