.banner-xs{
  display: flex;
  flex-direction: column;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  overflow: hidden;
  padding: 0 10px;
  img{
    opacity: 0.2;
  }


  .card{

    text-align: center;
    margin: auto;
    .card-inner{
      background-color: grey;
      border-radius: 5px;
      color: white;
      padding: 100px 0;
    }
  }

}
.scroll-down{
  background-color: green;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  p{
    color: white;
    margin: 0;
  }


}
