//default
*{
  box-sizing: border-box;
}
html{
  // font-family: 'Montserrat', sans-serif;

}
body, h1, h2, h3{
  margin: 0;
  padding: 0;
}
ul,a,li{
  text-decoration: none;
  list-style-type: none;
  color: $logo-background-color;


}
a:visited{
  color: $logo-background-color;

}
a:hover{
  text-decoration: underline;
}

///just visualize
.wrapper{
  background-color: $background-color;


  // background: linear-gradient(rgba(144, 244, 239, 1), rgba(100, 15, 30, 0.2));
}
.info{
  line-height: 1.5rem;
  font-size: 12px;
}
.coding{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 72vh;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 15px;
  background-color: $project-background-color;
  box-shadow: -0.2em 0 1em .1em $info-background-color;


}
.scheme{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  height: auto;
  font-size: 14px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 15px;
  background-color: $project-background-color;
  box-shadow: -0.2em 0 1em .1em $info-background-color;
  a{
    font-size: 24px;
  }
  h1{
    margin: 15px;
    text-align: center;
  }
  p{
    font-size: 16px;
  }

}
////////////////////
//text animation
//////////////////
$black: #2b2b2b;
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
$size: 42px;
.typing-container {
      display: flex;
      justify-content: center;
      align-items: center;

    #feature-text {
      margin-left: 8px;
    }
    .input-cursor {
      display: inline-block;
      width: 2px;
      height: $size;
      background-color: white;
      margin-left: 8px;
      animation: blink .6s linear infinite alternate;
    }
  }

  @keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

////////////////////////////////////////////
//email validation errors
////////////////////////////////////////////

#phoneErr, #emailErr, #subjectErr, #msgErr, #nameErr, #lastnameErr{
  color: red;
  font-size: 16px;
}
.error{
  border: 2px solid red;
}
.valid{
  border: 2px solid green;
}
