.name, .lastName{
  position: relative;
}
.contact-xs{
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: $project-background-color;
  box-shadow: 2em 0 3em .2em $info-background-color;
  form{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  form>input, textarea{
    width: 100%;
    // line-height: 50px;
    margin: 5px 0;
    font-size: 24px;
  }

  textarea{
    resize: vertical;

  }
  .name>input, .lastName>input{
    margin: 5px 0;
    font-size: 24px;
    width: 100%;

  }

}
