.nav-xs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;

}
.logo{
  background-color: $logo-background-color;
  border-radius: 50%;
  color: white;
  width: auto;
  font-size: 2rem;
  margin: 10px;
}
.logo>a{
  color: white;
  text-decoration: none;
}
////////////////////////////////////////////
//navigation
////////////////////////////////////////////
.menu-xs{
  display: inline-block;

  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;

}
.ham1, .ham2, .ham3{
  background-color: white;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;

}
.change .ham1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .ham2 {opacity: 0;}

.change .ham3 {
  transform: translate(0, -11px) rotate(45deg);
}
/////////////////////////////////////////////////
//navigation list hide by default
//////////////////////////////////////////////////
.navigation{
  display: none;
}
.vis-on{
  display: block;
  width: 100vw;
  height: auto;
  background-color: $background-color;
  font-size: $nav-font-size;
  z-index: 1;
}
