.projects-xs{
  display: flex;
  flex-direction: column;
  .project-card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px;
    background-color: $project-background-color;
    box-shadow: 2em 0 3em .2em $info-background-color;
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }




}
